name: Deploy Application

on:
  push:
    branches:
      - main  # Ou a branch de onde deseja fazer o deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Fazer checkout do código
      - name: Checkout code
        uses: actions/checkout@v2

      # 2. Configurar a chave SSH para acesso ao servidor
      - name: Setup SSH
      env:
        SSH_KEY: ${{ secrets.SSH_KEY }}
      run: |
        mkdir -p ~/.ssh
        echo "$SSH_KEY" | tr -d '\r' > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H 145.223.27.56 >> ~/.ssh/known_hosts    

      # 3. Deploy da API para o diretório de `api.cooperativasolarman.com.br`
      - name: Deploy API
        run: |
          rsync -avz --exclude '.git' ./api/ solar@145.223.27.56:/htdocs/api.cooperativasolarman.com.br/public
          ssh solar@145.223.27.56 << 'EOF'
            cd /home/solarman/htdocs/api.cooperativasolarman.com.br/public
            npm install
            pm2 restart api
          EOF